$width: 200px;

.container {
  height: 100%;
  width: 100%;
  position: absolute;
}

.marker {
}

.info {
  background: #ffffff;
  padding: 20px;
  width: $width;
  min-height: 100px;
  margin-top: 5px;
  margin-left: -$width / 2;
  z-index: 10;
  position: relative;
  box-shadow: 3px 3px 30px #777777;
  border-radius: 3px;
}

.item {
  margin-bottom: 10px;
}

.name {
  word-break: normal;
  overflow-wrap: break-word;
  font-weight: bold;
  line-height: 20px;
}

.placeIconStyles {
  position: relative;
  top: 3px;
}
